<script>
  var node = document.getElementById('win0');
  htmlContent = node.innerHTML,
  textContent = node.textContent;

</script>

<h2 class="summonerName">{{summoner.name}}</h2>
<hr>

<div class=M atch-history style="padding-top: 5%">
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[0]}}.png" alt="Mountain View">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[0]}}</div></b>
        <b><div>KDA: {{champsKilled[0]}}-{{assists[0]}}-{{numDeaths[0]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[0]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[0]}}</div></b>
        <b><div>IP Earned: {{ipEarned[0]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[0]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[0]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[0]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[0]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[0]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[0]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[0]}}.png">

    </tr>
    <h1 id="win0" class="win">{{win[0]}}</h1>
  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[1]}}.png" alt="Mountain View">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[1]}}</div></b>
        <b><div>KDA: {{champsKilled[1]}}-{{assists[1]}}-{{numDeaths[1]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[1]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[1]}}</div></b>
        <b><div>IP Earned: {{ipEarned[1]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[1]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[1]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[1]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[1]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[1]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[1]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[1]}}.png">
    </tr>
    <h1 class="win">{{win[1]}}</h1>
  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[2]}}.png" alt="Mountain View">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[2]}}</div></b>
        <b><div>KDA: {{champsKilled[2]}}-{{assists[2]}}-{{numDeaths[2]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[2]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[2]}}</div></b>
        <b><div>IP Earned: {{ipEarned[2]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[2]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[2]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[2]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[2]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[2]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[2]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[2]}}.png">
    </tr>
    <h1 class="win">{{win[2]}}</h1>

  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[3]}}.png" alt="Mountain View">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[3]}}</div></b>
        <b><div>KDA: {{champsKilled[3]}}-{{assists[3]}}-{{numDeaths[3]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[3]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[3]}}</div></b>
        <b><div>IP Earned: {{ipEarned[3]}}</div></b>
        <div class="tester"></div>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[3]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[3]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[3]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[3]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[3]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[3]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[3]}}.png">
    </tr>
    <h1 class="win">{{win[3]}}</h1>

  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[4]}}.png">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[4]}}</div></b>
        <b><div>KDA: {{champsKilled[4]}}-{{assists[4]}}-{{numDeaths[4]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[4]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[4]}}</div></b>
        <b><div>IP Earned: {{ipEarned[4]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[4]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[4]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[4]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[4]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[4]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[4]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[4]}}.png">
    </tr>
    <h1 class="win">{{win[4]}}</h1>
  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[5]}}.png">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[5]}}</div></b>
        <b><div>KDA: {{champsKilled[5]}}-{{assists[5]}}-{{numDeaths[5]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[5]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[5]}}</div></b>
        <b><div>IP Earned: {{ipEarned[5]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[5]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[5]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[5]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[5]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[5]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[5]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[5]}}.png">
    </tr>
    <h1 class="win">{{win[5]}}</h1>
  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[6]}}.png">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[6]}}</div></b>
        <b><div>KDA: {{champsKilled[6]}}-{{assists[6]}}-{{numDeaths[6]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[6]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[6]}}</div></b>
        <b><div>IP Earned: {{ipEarned[6]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[6]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[6]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[6]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[6]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[6]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[6]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[6]}}.png">
    </tr>
    <h1 class="win">{{win[6]}}</h1>
  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[7]}}.png">
      </div>
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[7]}}</div></b>
        <b><div>KDA: {{champsKilled[7]}}-{{assists[7]}}-{{numDeaths[7]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[7]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[7]}}</div></b>
        <b><div>IP Earned: {{ipEarned[7]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[7]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[7]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[7]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[7]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[7]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[7]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[7]}}.png">
    </tr>
    <h1 class="win">{{win[7]}}</h1>
  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[8]}}.png">
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[8]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[8]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[8]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[8]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[8]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[8]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[8]}}.png">
      <div style="display:inline-block;">
        <b><div>Champion: {{championName[8]}}</div></b>
        <b><div>KDA: {{champsKilled[8]}}-{{assists[8]}}-{{numDeaths[8]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[8]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[8]}}</div></b>
        <b><div>IP Earned: {{ipEarned[8]}}</div></b>
      </div>
    </tr>
    <h1 class="win">{{win[8]}}</h1>
  </table>
  <table id="gameTable" class="gameTable">
    <tr>
      <div style="display:inline-block;vertical-align:top;">
        <img class="resize" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championNameParsed[9]}}.png">
      </div>
      <div style="display:inline-block;">
        <b><div onclick="addRow($gameTable)">{{win[9]}}</div></b>
        <b><div>Champion: {{championName[9]}}</div></b>
        <b><div>KDA: {{champsKilled[9]}}-{{assists[9]}}-{{numDeaths[9]}}</div></b>
        <b><div>Minions Killed: {{minionsKilled[9]}}</div></b>
        <b><div>Gold Earned: {{goldEarned[9]}}</div></b>
        <b><div>IP Earned: {{ipEarned[9]}}</div></b>
      </div>
      <br>
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item0[9]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item1[9]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item2[9]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item3[9]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item4[9]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item5[9]}}.png">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{item6[9]}}.png">
    </tr>
    <h1 class="win">{{win[9]}}</h1>
  </table>
</div>