.searchBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 0 solid #000000;
  border-bottom-width: 2px;
  font: normal 25px/normal "Times New Roman", Times, serif;
  color: #000000;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  text-align: center; 
}

.searchButton {
  font-family: Arial;
  background-color: white;
  border: 0px;
  color: #000000;
  font-size: 20px;
  padding: 0px;
  text-decoration: none;
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.searchButton:hover {
  text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}